<div class="jumbotron">
<h1>Wilderness Wears</h1>

<p>Enter zip code, receieve outfit suggestion.</p>

<%= form_tag 'outfit', :method => "post" do %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag 'Submit' %>
<% end %>
</div>
