<div class="jumbotron jumbotron-top">

  <h1>Wilderness Wears</h1>

  <%= form_tag 'outfit', :method => "post" do %>
    <%= text_field_tag :zipcode %>
    <%= submit_tag 'Submit' %>
  <% end %>

  <p>Enter your destination's zip code for an outfit suggestion.</p>

</div>
