<div class="jumbotron jumbotron-top">
  <h2>Weather Today</h2>
  <p>goes here!!!</p>
</div>


<div class="jumbotron jumbotron-middle">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.top.join(" & ") %></h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.bottom.join(" & ") %></h3>
        </div>
      </div>
    </div>

  <% if @outfit.extras.any? %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placekitten.com/250/300">
        <div class="caption">
          <h3><%= @outfit.extras.join(" & ") %></h3>
        </div>
      </div>
    </div>
  <% end %>

</div>
