/*top of page jumbotron*/
.jumbotron-top {
  background:rgba(255,255,255,0.75);
  color: black;
  text-align: center;
  padding-top: 1rem;
}

form {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

/*background image*/
body {
background-image: url(forestbg.jpg);
background-size:100%;
}

/*middle of page jumbotron*/
.jumbotron-middle {
  background:rgba(255,255,255,0.50);
  color: black;
  text-align: center;
}

.thumbnail {
  padding: 2rem;
}

.col-md-4 {
  width: 45%;
}

/*this could me a col-md instead*/
.thumbnail-last {
  width: 43.75%;
}

.subcaption {
  height: 6rem;
  overflow: hidden;
}
