/*top of page jumbotron*/
.jumbotron-top {
  background:rgba(255,255,255,0.75);
  color: black;
  text-align: center;
  padding-top: 1rem;
}

/*background image*/
body {
background-image: url(forestbg.jpg);
background-size:100%;
}

/*index page only*/
form {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

/*outfit page only*/
.jumbotron-middle {
  background:rgba(255,255,255,0);
  color: black;
  text-align: center;
}

.thumbnail {
  padding-top: 4rem;
}

.subcaption {
  height: 6rem;
  overflow: hidden;
  margin-bottom: 0rem;
}

a {
  color: #339900;
}

a:hover {
    color: #336600;
}

.col-md-6 {
  width: 50%;
}

/*for extras*/
.thumbnail-last {
  width: 100%;
}
